html{
	width: 100%;
	height: 100%;
	}
body{
    width: auto;
    height: auto;
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);	
}
.LoginBox{
    backdrop-filter: blur(50px);
    margin:0 auto;
    margin-top: 190px;
    padding: 15px 40px;
    text-align: center;
    border-radius: 19px;
    height: 300px;
    width: 400px;
    background-color: #00000050;
}
.LoginBox h1{
    color: antiquewhite;
    margin-top: 10px;
    margin-right: 20px;
}
.LoginBox .inputUserAndPwd{
    margin-top: 40px;
}
.LoginBox .inputUserAndPwd .User-Or-Pwd{
		height: 70px;
		width: 1px;
		margin-top: 20px;
		margin-left: 110px;
}
.LoginBox .inputUserAndPwd .User-Or-Pwd input{
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000030;
    color: white;
    padding: 11px 11px;
    
}
.LoginBox .inputUserAndPwd .BtnLogin{   
    border:0;
    height: 30px;
    width: 150px;
    color: white;
    margin-top: 25px;
    border-radius: 19px;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}
.LoginBox .inputUserAndPwd .BtnNotHaveUser{
    color: white;
    border:0;
    height: 30px;
    width: 150px;
    margin-top: 12px;
	margin-left: 20px;
    border-radius: 19px;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}